{% if site.settings.contact_form and site.user.encrypted_email_address %}
<section id='contact-form' class='hidden'>
  <div class='user-details'>
    <h2>Contact</h2>
  </div>
  <div class='contact'>
    <form action='https://formspree.io/{{site.user.encrypted_email_address}}' method='POST'>
      <input name='_gotcha' style='display:none' type='text'>
      <input name='_next' type='hidden' value='{{site.contact_form.url_after_sent}}'>
      <input name='_replyto' placeholder='{{site.contact_form.placeholders.email}}' type='email' autofocus>
      <input name='_subject' type='hidden' value='{{site.contact_form.subject}}'>
      <input name='name' placeholder='{{site.contact_form.placeholders.name}}' type='text'>
      <textarea name='message' placeholder='{{site.contact_form.placeholders.message}}' rows='3' type='text'></textarea>
      <br>
      <input type='submit' value='{{site.contact_form.buttons.submit}}'>
      {% if site.contact_form.buttons.reset %}<input type='reset' value='{{site.contact_form.buttons.reset}}'>{% endif %}
    </form>
  </div>
</section>
{% endif %}
