<div id='particles-js'>
  <div class='header' itemprop='Person' itemscope itemtype='http://schema.org/Person'>
    <h1>
      <span class='site-title' itemprop='name'>{{site.user.name}}</span>
      <span class='site-description' itemprop='jobTitle'>{{site.user.title}}</span>
    </h1>
    <div class='header-icons'>
{% if site.user.email %}
      <a aria-label='Send email' href='mailto:{{site.user.email}}'><i class='icon fa fa-envelope'></i></a>
{% endif %}{% if site.user_profiles.bitbucket %}
      <a aria-label='My BitBucket' href='https://bitbucket.org/{{ site.user_profiles.bitbucket }}' rel='nofollow noopener' target='_blank'><i class='icon fa fa-bitbucket' aria-hidden='true'></i></a>
{% endif %}{% if site.user_profiles.facebook %}
      <a aria-label='My Facebook' href='https://facebook.com/{{ site.user_profiles.facebook }}' rel='nofollow noopener' target='_blank'><i class='icon fa fa-facebook' aria-hidden='true'></i></a>
{% endif %}{% if site.user_profiles.github %}
      <a aria-label='My GitHub' href='https://github.com/{{ site.user_profiles.github }}' rel='nofollow noopener' target='_blank'><i class='icon fa fa-github' aria-hidden='true'></i></a>
{% endif %}{% if site.user_profiles.gitlab %}
      <a aria-label='My GitLab' href='https://gitlab.com/{{ site.user_profiles.gitlab }}' rel='nofollow noopener' target='_blank'><i class='icon fa fa-gitlab' aria-hidden='true'></i></a>
{% endif %}{% if site.user_profiles.google_plus %}
      <a aria-label='My Google Plus' href='https://plus.google.com/+{{ site.user_profiles.google_plus }}' rel='nofollow noopener' target='_blank'><i class='icon fa fa-google-plus' aria-hidden='true'></i></a>
{% endif %}{% if site.user_profiles.instagram %}
      <a aria-label='My Instagram' href='https://instagram.com/{{ site.user_profiles.instagram }}' rel='nofollow noopener' target='_blank'><i class='icon fa fa-instagram' aria-hidden='true'></i></a>
{% endif %}{% if site.user_profiles.linkedin %}
      <a aria-label='My Linked In' href='https://linkedin.com/in/{{ site.user_profiles.linkedin }}' rel='nofollow noopener' target='_blank'><i class='icon fa fa-linkedin' aria-hidden='true'></i></a>
{% endif %}{% if site.user_profiles.stackoverflow_id %}
<!--
      <a aria-label='My Stack Overflow' href='https://stackoverflow.com/users/{{ site.user_profiles.stackoverflow_id }}' rel='nofollow noopener' target='_blank'><i class='icon fa fa-stackoverflow' aria-hidden='true'></i></a>
 -->
{% endif %}{% if site.user_profiles.twitter %}
      <a aria-label='My Twitter' href='https://twitter.com/{{ site.user_profiles.twitter }}' rel='nofollow noopener' target='_blank'><i class='icon fa fa-twitter' aria-hidden='true'></i></a>
{% endif %}{% if site.user_profiles.youtube %}
      <a aria-label='My YouTube' href='https://youtube.com/channel/{{ site.user_profiles.youtube }}' rel='nofollow noopener' target='_blank'><i class='icon fa fa-youtube' aria-hidden='true'></i></a>
{% endif %}
    </div>
    <div class='header-links'>
      {% if site.about %}<a class='link' href='#about' data-scroll>About Me</a>{% endif %}
      {% if site.projects %}<a class='link' href='#projects' data-scroll>Projects</a>{% endif %}
      {% if site.user.email %}<a class='link' href='#contact-form' data-scroll>Contact me</a>{% endif %}
    </div>
  </div>
  <a class='down' href='#about' data-scroll>
    <i class='icon fa fa-chevron-down' aria-hidden='true'></i>
  </a>
</div>
