<div id='particles-js'>
  <div class='h-card header' itemprop='Person' itemscope itemtype='http://schema.org/Person'>
    <h1>
      <span class='p-name site-title' itemprop='name'>{{site.user.name}}</span>
      <span class='p-job-title site-description' itemprop='jobTitle'>{{site.user.title}}</span>
    </h1>
    <div class='header-icons' id='container-of-links'>
{% include encrypted_email.html %}
{% if site.links.blog %}
      <a aria-label='My Blog' class='u-url' href='{{ site.links.blog.url }}' target='_blank' title='{{ site.links.blog.title }}'><i class='icon fa fa-wordpress' aria-hidden='true'></i></a>
{% endif %}{% if site.links.cv %}
      <a aria-label='My Resume' class='u-url' href='{{ site.links.cv.url }}' target='_blank' title='{{ site.links.cv.title }}'><i class='icon fa fa-file' aria-hidden='true'></i></a>
{% endif %}{% if site.user_profiles.linkedin %}
      <a aria-label='My Linked In' class='u-url' href='https://linkedin.com/in/{{ site.user_profiles.linkedin }}' rel='nofollow noopener' target='_blank'><i class='icon fa fa-linkedin' aria-hidden='true'></i></a>
{% endif %}{% if site.user_profiles.bitbucket %}
      <a aria-label='My BitBucket' class='u-url' href='https://bitbucket.org/{{ site.user_profiles.bitbucket }}' rel='nofollow noopener' target='_blank'><i class='icon fa fa-bitbucket' aria-hidden='true'></i></a>
{% endif %}{% if site.user_profiles.facebook %}
      <a aria-label='My Facebook' class='u-url' href='https://facebook.com/{{ site.user_profiles.facebook }}' rel='nofollow noopener' target='_blank'><i class='icon fa fa-facebook' aria-hidden='true'></i></a>
{% endif %}{% if site.user_profiles.github %}
      <a aria-label='My GitHub' class='u-url' href='https://github.com/{{ site.user_profiles.github }}' rel='nofollow noopener' target='_blank'><i class='icon fa fa-github' aria-hidden='true'></i></a>
{% endif %}{% if site.user_profiles.gitlab %}
      <a aria-label='My GitLab' class='u-url' href='https://gitlab.com/{{ site.user_profiles.gitlab }}' rel='nofollow noopener' target='_blank'><i class='icon fa fa-gitlab' aria-hidden='true'></i></a>
{% endif %}{% if site.user_profiles.instagram %}
      <a aria-label='My Instagram' class='u-url' href='https://instagram.com/{{ site.user_profiles.instagram }}' rel='nofollow noopener' target='_blank'><i class='icon fa fa-instagram' aria-hidden='true'></i></a>
{% endif %}{% if site.user_profiles.stackoverflow_id %}
<!--
      <a aria-label='My Stack Overflow' class='u-url' href='https://stackoverflow.com/users/{{ site.user_profiles.stackoverflow_id }}' rel='nofollow noopener' target='_blank'><i class='icon fa fa-stackoverflow' aria-hidden='true'></i></a>
 -->
{% endif %}{% if site.user_profiles.twitter %}
      <a aria-label='My Twitter' class='u-url' href='https://twitter.com/{{ site.user_profiles.twitter }}' rel='nofollow noopener' target='_blank'><i class='icon fa fa-twitter' aria-hidden='true'></i></a>
{% endif %}{% if site.user_profiles.youtube %}
      <a aria-label='My YouTube' class='u-url' href='https://youtube.com/channel/{{ site.user_profiles.youtube }}' rel='nofollow noopener' target='_blank'><i class='icon fa fa-youtube' aria-hidden='true'></i></a>
{% endif %}
    </div>
    <div class='header-links'>
      {% if site.about %}<a class='link' href='#about' data-scroll>About Me</a>{% endif %}
      {% if site.projects %}<a class='link' href='#projects' data-scroll>Projects</a>{% endif %}
      {% if site.user.email %}<a class='link' href='#contact-form' data-scroll>Contact me</a>{% endif %}
    </div>
  </div>
  <a class='down' href='#about' data-scroll>
    <i aria-hidden='true' class='icon fa fa-chevron-down'></i>
  </a>
</div>
