<head>
  <meta charset='utf-8' />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.meta.title }}{% endif %}</title>
  <meta content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.meta.description }}{% endif %}' name='description' />
  <meta content='{{colors.background}}' name='theme-color' />
  <meta content='IE=edge' http-equiv='X-UA-Compatible' />
  <meta content='width=device-width, initial-scale=1' name='viewport' />
  <link href='/manifest.json' rel='manifest' />
  <link async='async' href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" media='all' rel='stylesheet' />
</head>
