#contact-form {
  border-radius: 2px;
  // box-shadow: 2px 2px 4px rgba(32, 32, 32, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
  padding: 8px;
  width: 90%;

  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.contact {
  margin: 8px auto;

  input[type='email'], input[type='text'], textarea[type='text'] {
    border-color: #444;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 0.5em;
    margin-top: 0.25em;
    outline-color: lighter($main, 0.7);
    padding: 0.75em;
    transition: box-shadow .2s ease;
    vertical-align: middle;
    width: 100%;
  }

  input[type='reset'], input[type='submit'] {
    background-color: $main;
    border-radius: 4px;
    border: 1px solid transparent;
    color: $white;
    height: auto;
    margin: 0.5em 0 0 0;
    outline: none;
    padding: 0.5em;
    width: 32%;
  }
}
